<div class="form-group col-md-4 col-md-offset-4">
<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :registration_number %>
    <%= form.text_field :registration_number, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :fuel %>
    <%= form.text_field :fuel, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :year_of_production %>
    <%= form.number_field :year_of_production, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :date_of_first_yerestration %>
    <%= form.date_select :date_of_first_yerestration, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
